/* From Uiverse.io by cssbuttons-io */ 
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('assets/bg.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    text-align: center;
    max-width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.title {
    color: #fff;
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.button-container {
    margin: 20px 0;
}

/* Button Styles with Glow Effect */
button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 1em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s ease-in-out;
}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 2em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
    transform: scale(1.05); /* Add slight zoom effect */
}

button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
               0 0 2.5em 2em var(--glow-spread-color),
               inset 0 0 .5em .25em var(--glow-color);
}

/* Links and Icons */
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon {
    width: 40px; 
    height: auto;
    margin: 0 10px;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.2); /* Increased scale effect */
}
