/* From Uiverse.io by Creatlydev */

/* تنسيق الجسم */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('assets/bg.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* تنسيق الحاوية (Container) */
.container {
    width: 100%;
    /* height: 100%; */
    /* إضافة نمط الخلفية باستخدام تدرج الألوان المتحرك */
    background: linear-gradient(
        -45deg,
        #00eff8,
        #f800b4,
        #ebf503,
        #02f6c1,
        #00eff8,
        #9400f8
    );
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 200%; /* يمكن تعديل هذه القيمة حسب الحاجة */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    text-align: center;
    max-width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* التأثير المتحرك للتدرج اللوني */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* تنسيق الشعار */
.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

/* تنسيق العنوان */
.title {
    color: #fff;
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: bold;
}

/* تنسيق الأزرار */
.button-container .button {
    padding: 5px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 2px solid white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.button-container .button:hover {
    box-shadow: 0 0 15px 5px #00aaff;
    transform: scale(1.05);
}

/* تنسيق أيقونات التواصل الاجتماعي */
.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.social-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 50%;
}

.social-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 15px #00aaff;
}

.social-icon img {
    width: 30px;
    height: 30px;
}

/* وضع الليل */
body.night-mode {
    background-color: #333;
    color: #f4f4f4;
}

/* رسالة الترحيب */
.greeting-message {
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
}
